# Lists Lab

### Introduction

Ok, so now we have gotten a sense of how to take data from excel and move into a list in Python.  We also learned about how to work with lists.  In this lab we will practice reading from lists, adding elements to lists, and removing elements from lists.

### Objectives

* Practice reading one and multiple elements from lists
* Practice altering data in lists
* Practice add elements and removing elements from lists

### Our data from a Google Sheet

Once again, we will get our data from a Google Sheet, this time a sheet of [Travel Cities and Countries](https://docs.google.com/spreadsheets/d/1BTJMMFH9t4p5UmHj5kiC6PGfMN6yaaaZkocx0mDqTK0/edit#gid=0).

![](./cities-and-countries.png)

We already followed the steps of the previous lesson to download the spreadsheet and move it to the current folder.  You can find the file [in the github repository](https://github.com/learn-co-curriculum/python-lists-lab).

### From Local File to Python

Now that we have this file in the folder we are working with, we can get this data into Python code.

In [3]:
import pandas
file_name = './cities_and_countries.xlsx'
travel_df = pandas.read_excel(file_name)
travel_data = travel_df.to_dict('records')
countries = list(map(lambda city: city['Country'] ,travel_data))

In [4]:
countries

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea']

Ok, so the list of countries associated with each city has been assigned to the variable `countries`.  Now we will work with reading and manipulating this list.

### Accessing elements from lists

First, access the third to last element and set it equal to the variable `italy`.

In [10]:
italy = countries[-3] # 'Italy'

In [11]:
italy # 'Italy'

'Italy'

Now access the fourth element and set it equal to the variable `mexico`.

In [13]:
mexico = countries[3]

mexico

'Mexico'

Notice that the second through fifth elements are all in a row and all in the Western Hemisphere.  Assign that subset of elements to a variable called `kindof_neighbors`.

In [16]:
kindof_neighbors = countries[1:5]
kindof_neighbors

['USA', 'Argentina', 'Mexico', 'USA']

### Changing Elements

Ok, now let's add a couple of countries onto this list.  At the end of the list add the country 'Malta', followed by the country 'Thailand'.

In [18]:
countries.append('Malta')

In [19]:
countries.append('Thailand')

In [22]:
countries 
# ['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland', 
# 'Argentina', 'Italy',  'Canada', 'South Korea',  'Malta',  'Thailand']

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'New Mexico',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea',
 'Malta',
 'Thailand']

Now you may have notice that "New Mexico" is included in our list of countries.  That doesn't seem right.  Let's change 'New Mexico' to 'USA'.

In [24]:
countries[6] = 'USA'

In [26]:
countries 
# ['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland', 
# 'Argentina', 'Italy',  'Canada', 'South Korea',  'Malta',  'Thailand']

['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'USA',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea',
 'Malta',
 'Thailand']

Finally, let's remove Thailand from the list.  No good reason, we're acting on whimsy.

In [36]:
countries = ['Croatia',
 'USA',
 'Argentina',
 'Mexico',
 'USA',
 'Morocco',
 'USA',
 'Finland',
 'Argentina',
 'Italy',
 'Canada',
 'South Korea', 
 'Malta', 
 'Thailand']
countries.pop() # 'Thailand'

'Thailand'

### Exploring Lists with Methods

Ok, now we notice that some countries are mentioned more than once.  Let's see how many repeat countries are on this list.

First, use the `set` and `list` functions to return a unique list of countries.  Set this list equal to the variable `unique_countries`.

In [37]:
unique_countries = list(set(countries))

In [38]:
unique_countries # ['USA',  'South Korea',  'Morocco',  'Finland',  'Italy', 
# 'Mexico',  'Argentina', 'Malta', 'Croatia', 'New Mexico', 'Canada']

['USA',
 'South Korea',
 'Morocco',
 'Finland',
 'Italy',
 'Mexico',
 'Argentina',
 'Malta',
 'Croatia',
 'Canada']

Now the number of repeat countries should be the number of countries minus the number of unique countries.  So use the `len` function on both `unique_countries` and `countries` to calculate this and assign the result to the variable `num_of_repeats`.

In [43]:
num_of_repeats = len(countries) - len(unique_countries) 
num_of_repeats # 3

3

### Summary

In this section we saw how to get our data from the outside world and into Python.  The purpose isn't to understand all of this code right now, but rather to see how easily we can start working with outside data.  As we become better at Python, the usefulness of taking data and operating on it in code rather than a spreadsheet will become more apparent.  But that doesn't mean we can't get step outside of Python sandbox now.  It's not too difficult to take some data we may already have, and begin to use it with Python.  In the next section, we'll use a lab to get data from excel and work with lists.